.Footer{
    background: #eee;
    /* Positioning to keep footer at bottom https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c*/
    position: absolute;
    width:100%; 
    bottom: 0;
}